.keret {
    background-color: rgba(255,255,255,.7);
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.jobbrakep {
    float: right;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
}
body {
    text-align: justify;
    background-image: url("hatterkep.jpg");
}
p {
    font-family: "sans-serif";
}
.forras{
 font-size: 10px;
    font-style: italic;
    float: right;
}